.p-sidebar {
  height: 12rem;
  .p-sidebar-footer {
    display: none;
  }
  #action-buttons {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .p-sidebar {
    padding-top: 30px;
    height: 100%;
    width: 400px;
    .p-sidebar-header {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .p-sidebar-footer {
      display: initial;
    }
    #action-buttons {
      padding-top: 30px;
    }
  }
}
