.p-card-content {
  padding: 0;
}

ul {
  list-style: none;
}

.p-sidebar {
  padding-top: 32px;
  width: 340px;
  background-color: var(--dark-color);

  p-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      display: block;
      text-align: start;
      padding: 12px 26px;
      color: #e8e8e8;
      border: none;
      text-transform: uppercase;
      min-width: 216px;
    }
  }

  .p-sidebar-header {
    padding-bottom: 10px;
    display: inline-grid;
    gap: 20px;
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;

    img {
      margin: auto;
      padding-bottom: 56px;
    }
  }

  .p-sidebar-content {
    padding-left: 0;
    padding-right: 0;

    p-button:first-child {
      margin-top: 25px;
    }

    p-button {
      justify-content: start;
      margin-bottom: 26px;
      border-bottom: 2px solid var(--primary-color);

      button {
        margin-left: 62px;
        margin-bottom: 10px;
      }
    }
  }
}

.p-dialog {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 52px;
  max-width: 520px;

  .p-dialog-content {
    padding: 24px;
    padding-top: 4px;

    fieldset {
      max-width: 400px;
    }
  }

  .p-button .p-button-label {
    text-decoration: none;
  }
}

.p-avatar {
  background-color: #e4f3f7;
}

.p-calendar .p-datepicker {
  min-width: 50%;
}

.p-multiselect-label {
  white-space: wrap;
}

.p-tabmenu-nav.p-reset {
  background-color: transparent;
}

.p-accordion {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.p-accordion-tab {
  box-sizing: border-box;
  border: 1.5px solid var(--primary-color);
  border-radius: 12px;
  background-color: white;
  .p-accordion-header {
    a {
      background: none;
      border: none;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  .p-accordion-content {
    background: none;
    border: none;
    border-top: 0.5px dashed var(--bluegray-300);
  }
}
