<div class="p-4 mt-4">
  <ul class="m-0 p-0 list-none">
    <li class="mb-3">
      <div class="flex">
        <p-skeleton
          shape="circle"
          size="4rem"
          styleClass="mr-2"
        />
        <div style="flex: 1">
          <p-skeleton
            width="100%"
            styleClass="mb-2"
          />
          <p-skeleton width="75%" />
        </div>
      </div>
    </li>
    <li>
      <div class="flex">
        <p-skeleton
          shape="circle"
          size="4rem"
          styleClass="mr-2"
        />
        <div style="flex: 1">
          <p-skeleton
            width="100%"
            styleClass="mb-2"
          />
          <p-skeleton width="75%" />
        </div>
      </div>
    </li>
  </ul>
</div>
