:host {
  form {
    max-width: 820px;
    margin: 0 auto;
  }
}

fieldset label {
  color: #003459;
}

@media (max-width: 425px) {
  main {
    padding-inline: 1rem;
  }
  form {
    gap: 2rem !important;
    padding: 0 0.5rem !important;
  }
  header {
    padding: 0 0.5rem !important;
  }
}
