:host {
  margin-bottom: 200px;
}

::ng-deep {
  .p-accordion-header-link {
    transition: padding 0.3s;
    padding: 16px;
  }

  .p-accordion-content {
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      width: calc(100% - 40px);
      white-space: nowrap;
    }
  }

  @layer primeng {
    .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
      background: transparent;
      border-color: var(--dark-color);
      color: var(--dark-color);
    }
  }
}
