:host {
  .contact-name {
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 180px;
      white-space: nowrap;
    }
  }

  p-tag {
    // background: var(--secondary-color);
    font-size: smaller;
  }
}
