<p-dialog
  [(visible)]="showEditContact"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <header [style]="{ maxWidth: '900px' }">
      <gl-title
        label1="Editar"
        label2="contato"
      ></gl-title>
    </header>
  </ng-template>
  <ng-template pTemplate="content">
    <form
      [formGroup]="contactToEditForm"
      class="formgrid grid justify-content-center align-items-center gap-4"
    >
      <div
        class="flex flex-column justify-content-center align-items-center gap-2"
      >
        <p-avatar
          label="A"
          size="xlarge"
          shape="circle"
          styleClass="cursor-pointer"
          [style]="{
            width: '220px',
            height: '220px'
          }"
        />

        <p-button
          id="avatar"
          label="Trocar foto de perfil"
          [link]="true"
          icon="pi pi-pencil"
          [style]="{ color: 'var(--secondary-color)' }"
        />
      </div>

      <fieldset class="field col-12 m-0 p-0">
        <legend>
          <label
            for="name"
            class="block mb-2"
            >Nome</label
          >
        </legend>
        <span class="p-input-icon-left w-full">
          <i class="pi pi-user"></i>
          <input
            type="text"
            class="w-full"
            pInputText
            formControlName="name"
            id="name"
            [maxlength]="100"
            [minlength]="3"
          />
        </span>
      </fieldset>

      <fieldset class="field col-12 m-0 p-0">
        <legend>
          <label
            for="identify"
            class="block mb-2"
            >Identificador</label
          >
        </legend>
        <span class="p-input-icon-left w-full">
          <i class="pi pi-envelope"></i>
          <input
            id="identify"
            type="text"
            class="w-full"
            pInputText
            formControlName="identify"
            [maxlength]="100"
            [minlength]="4"
          />
        </span>
      </fieldset>
      <div class="flex justify-content-end col-12 py-0 px-2 mt-1">
        <p-button
          label="Salvar"
          styleClass="cursor-pointer"
          icon="pi pi-check"
          [link]="true"
          [loading]="loading"
          type="submit"
          [disabled]="
            contactToEditForm.invalid || loading || contactToEditForm.pristine
          "
          (click)="onSave()"
        />
      </div>
    </form>
  </ng-template>
</p-dialog>

<gl-title
  label1="Meus"
  label2="contatos"
/>

<div class="flex justify-content-between align-items-center pt-7">
  <p-button
    icon="pi pi-plus"
    label="Novo contato"
    routerLink="add"
  />

  <div>
    <p-menu
      #menu
      [popup]="true"
      [model]="channels"
      styleClass="mt-3 w-auto"
    >
      <ng-template
        pTemplate="item"
        let-item
      >
        <div class="flex align-items-center justify-content-start gap-2 p-2">
          <p-checkbox
            [value]="item.value"
            [disabled]="item.disabled"
            [inputId]="item.value"
            [disabled]="item.disabled"
            [name]="item.value"
            [(ngModel)]="selectedChannels"
          />
          <label
            [for]="item.value"
            class="w-full px-2 flex align-items-center justify-content-start cursor-pointer"
          >
            <i
              [class]="item.icon"
              class="mr-2"
            ></i>
            {{ item.label }}

            @if (item.disabled) {
            <p-tag
              class="ml-2"
              [style]="{ background: 'var(--secondary-color)' }"
              severity="info"
              value="EM BREVE"
            />
            }
          </label>
        </div>
      </ng-template>
    </p-menu>
    <div class="flex align-items-center justify-content-center gap-4">
      <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input
          type="search"
          pInputText
          placeholder="Search"
          [disabled]="true"
        />
      </p-iconField>
      <p-button
        styleClass="bg-white px-4"
        icon="pi pi-filter"
        label="Filtrar canais"
        severity="secondary"
        [outlined]="true"
        (onClick)="menu.toggle($event)"
      />
    </div>
  </div>
</div>

@if (contacts().isPending) {
<gl-loading></gl-loading>
} @if (contacts().data; as contacts) {
<ul class="px-0 pt-4 flex flex-column gap-3">
  @for (contact of contacts; track $index) {
  <li
    [style]="{ minHeight: '63px' }"
    class="flex justify-content-between align-items-center px-3 py-2 bg-white shadow-2 border-round-xl text-bluegray-800"
  >
    <div class="flex align-items-center gap-1">
      <p-avatar
        [label]="contact.name[0]"
        shape="circle"
        size="large"
        styleClass="mr-2"
      />
      <div class="contact-name">
        <p class="font-medium text-lg capitalize">
          {{ contact.name }}
        </p>
      </div>
    </div>

    <div class="text-cyan-600 lg:mr-8 lg:pr-8">
      <div class="lg:mr-3">
        @switch (contact.channel) { @case ("EMAIL") {
        <i class="pi pi-envelope"></i>
        } @case ("WHATSAPP") {
        <i class="pi pi-whatsapp"></i>
        } @case ("TELEGRAM") {
        <i class="pi pi-telegram"></i>
        } @case ("DISCORD") {
        <i class="pi pi-discord"></i>
        } }
      </div>
    </div>
    <div class="flex flex-column sm:flex-row">
      <p-button
        icon="pi pi-pencil"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (onClick)="onEdit(contact)"
        styleClass="edit-button"
      ></p-button>
      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        (onClick)="onDelete(contact.id)"
        styleClass="delete-button"
      ></p-button>
    </div>
  </li>
  } @empty {
  <li class="text-center block mt-4">Nenhum contato cadastrado</li>
  }
</ul>
}
