:host {
  .contact-name {
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 180px;
      white-space: nowrap;
    }
  }

  p-tag {
    font-size: smaller;
  }

  ::ng-deep {
    @layer primeng {
      .p-button.p-button-secondary.p-button-text:not(:disabled) {
        color: var(--dark-color);

        &.edit-button:hover {
          color: var(--primary-color);
        }
        &.delete-button:hover {
          color: var(--red-600);
        }
      }
    }
  }
}
