<main>
  <div class="left-container">
    <img
      src="/assets/login.svg"
      width="300"
    />
  </div>
  <div class="right-container">
    <img
      src="/assets/logo-dark.svg"
      width="300"
    />
    <p-card styleClass="m-auto w-12 lg:w-30rem my-0">
      <ng-template pTemplate="title">
        <span class="block text-center"> Login </span>
      </ng-template>
      <form
        [formGroup]="account"
        class="p-3 flex flex-column gap-3 formgrid"
        (ngSubmit)="onSubmitForm()"
      >
        <fieldset class="field col-12 mb-0 px-0">
          <legend>
            <label for="email">Email</label>
          </legend>
          <span class="p-input-icon-right w-full">
            <i class="pi pi-envelope"></i>
            <input
              pInputText
              type="email"
              placeholder="Digite seu email"
              id="email"
              formControlName="email"
              class="w-full"
            />
          </span>
        </fieldset>

        <fieldset class="field col-12 mb-0 px-0">
          <legend>
            <label for="password">Senha</label>
          </legend>
          <p-password
            placeholder="Digite sua senha"
            [toggleMask]="true"
            inputId="password"
            formControlName="password"
            [feedback]="false"
            [style]="{ width: '100%' }"
            [inputStyle]="{ width: '100%' }"
          >
          </p-password>
        </fieldset>

        <a
          class="no-underline hover:underline text-blue-700 align-self-end"
          routerLink="/login"
          >Esqueci minha senha?</a
        >

        <div
          class="flex col-12 p-0 pt-2 flex-column-reverse sm:flex-row sm:justify-content-end"
        >
          <p-button
            label="Entrar"
            type="submit"
            [disabled]="account.invalid || submitting"
            [loading]="submitting"
            styleClass="justify-content-center w-full sm:w-auto"
          ></p-button>
        </div>
        <a
          class="no-underline hover:underline text-blue-700 align-self-start"
          href="/register"
          >Não tenho conta</a
        >
      </form>
    </p-card>
  </div>
</main>
