<main class="min-h-screen pt-8 px-4">
  <p-card styleClass="m-auto w-full md:w-30rem my-0">
    <ng-template pTemplate="title">
      <h1 class="m-0 mb-2 text-3xl text-center">Fazer cadastro</h1>
    </ng-template>
    <form
      [formGroup]="account"
      (ngSubmit)="onSubmit()"
      class="p-3 flex flex-column gap-3 formgrid"
    >
      <fieldset class="field col-12 mb-0 px-0">
        <legend>
          <label for="name">Nome</label>
        </legend>
        <input
          pInputText
          type="name"
          placeholder="Digite seu nome"
          id="name"
          formControlName="name"
          class="w-full"
          [minlength]="3"
          [maxlength]="100"
        />
      </fieldset>

      <fieldset class="field col-12 m-0 p-0">
        <legend>
          <label for="email">Email</label>
        </legend>
        <span class="p-input-icon-right w-full">
          <i class="pi pi-envelope"></i>
          <input
            type="email"
            class="w-full"
            pInputText
            formControlName="email"
            placeholder="Digite seu email"
            id="email"
            [ngClass]="{ 'ng-invalid ng-dirty': inputInvalid('email') }"
            [minlength]="4"
            [maxlength]="100"
          />
        </span>
        <div *ngIf="inputInvalid('email')">
          <small
            class="text-red-600"
            *ngIf="getInputError('email', 'required')"
            >Campo obrigatório</small
          >
          <small
            class="text-red-600"
            *ngIf="getInputError('email', 'email')"
            >Digite um email válido</small
          >
        </div>
      </fieldset>

      <fieldset class="field col-12 m-0 p-0">
        <legend class="mb-2">
          <label for="password">Senha</label>
        </legend>
        <p-password
          formControlName="password"
          placeholder="Digite sua senha"
          [toggleMask]="true"
          inputId="password"
          [ngClass]="{ 'ng-invalid ng-dirty': inputInvalid('password') }"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          promptLabel="Força da senha"
          [minlength]="6"
          [maxlength]="25"
        >
        </p-password>
        <div *ngIf="inputInvalid('password')">
          <small
            class="text-red-600"
            *ngIf="getInputError('password', 'required')"
            >Campo obrigatório</small
          >
          <small
            class="text-red-600"
            *ngIf="getInputError('password', 'pattern')"
            >A senha deve ter entre 6-25 caracteres</small
          >
        </div>
      </fieldset>

      <fieldset class="border-none p-0 m-0">
        <legend class="mb-2">
          <label for="confirmPassword">Confirmar senha</label>
        </legend>
        <p-password
          formControlName="confirmPassword"
          placeholder="Confirme sua senha"
          [toggleMask]="true"
          inputId="confirmPassword"
          [ngClass]="{ 'ng-invalid ng-dirty': inputInvalid('confirmPassword') }"
          [style]="{ width: '100%' }"
          [inputStyle]="{ width: '100%' }"
          promptLabel="Força da senha"
          [minlength]="6"
          [maxlength]="80"
        >
        </p-password>
        <div *ngIf="inputInvalid('confirmPassword')">
          <small
            class="text-red-600"
            *ngIf="getInputError('confirmPassword', 'required')"
            >Campo obrigatório</small
          >
          <small
            class="text-red-600"
            *ngIf="getInputError('confirmPassword', 'passwordMismatch')"
            >As senhas devem ser iguais</small
          >
        </div>
      </fieldset>

      <div *ngIf="getRequestError()">
        <small class="text-red-600">{{ getRequestError() }}</small>
      </div>

      <div
        class="flex col-12 p-0 pt-2 flex-column-reverse sm:flex-row sm:justify-content-end"
      >
        <p-button
          label="Criar conta"
          type="submit"
          [disabled]="account.invalid || submitting"
          [loading]="submitting"
          styleClass="justify-content-center w-full sm:w-auto"
        ></p-button>
      </div>
      <a
        class="no-underline hover:underline text-blue-700 align-self-start"
        href="/login"
        >Já criei minha conta</a
      >
    </form>
  </p-card>
</main>
