<p-sidebar
  [(visible)]="isSibebarOpen"
  [position]="isMobile ? 'bottom' : 'left'"
  [modal]="false"
  [closeOnEscape]="false"
  [showCloseIcon]="false"
  [blockScroll]="true"
  [ngClass]="{ 'h-full': !isMobile }"
>
  <ng-template pTemplate="header">
    <img
      *ngIf="!isMobile"
      src="/assets/banner.svg"
      alt="GoLembra logo"
      width="200"
      class="pl-4"
    />
  </ng-template>
  <ng-template pTemplate="content">
    <div
      id="action-btns"
      class="flex mt-1 flex-wrap mx-auto gap-2 align-items-center justify-content-center"
    >
      <p-button
        label="Hoje"
        icon=" pi pi-calendar"
        [outlined]="true"
        severity="warning"
        styleClass="w-10rem"
      ></p-button>
      <p-button
        label="Todos"
        icon=" pi pi-inbox"
        [outlined]="true"
        severity="secondary"
        styleClass="w-10rem"
      ></p-button>
      <p-button
        label="Agendados"
        icon=" pi pi-clock"
        severity="info"
        styleClass="w-10rem"
      ></p-button>
      <p-button
        label="Novo"
        icon=" pi pi-plus-circle"
        severity="success"
        styleClass="w-10rem"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      *ngIf="!isMobile"
      label="Configurações"
      icon=" pi pi-cog"
      severity="secondary"
      [outlined]="true"
      styleClass="flex gap-2 no-underline w-full text-left"
    ></p-button>
  </ng-template>
</p-sidebar>
<div
  [ngClass]="{
  'space-left-content': isSibebarOpen,
  'space-bottom-content': isSibebarOpen && isMobile,
  }"
  class="p-2"
>
  <header class="flex justify-content-between align-items-center">
    @if(!isMobile){
    <p-button
      (click)="toggleSidebar()"
      icon="pi pi-bars"
    ></p-button>
    } @if(isMobile){
    <p-button
      (click)="toggleSidebar()"
      icon="pi pi-plus"
    ></p-button>
    }
    <div class="profile cursor-pointer align-items-end">
      <p-menu
        #menu
        [model]="avatarMenu"
        [popup]="true"
      ></p-menu>
      <div
        class="flex align-items-center gap-2"
        (click)="menu.toggle($event)"
      >
        <h4 class="font-medium text-sm">Andrew D.</h4>
        <p-avatar
          icon="pi pi-user"
          styleClass="mr-2"
          shape="circle"
          size="large"
        ></p-avatar>
      </div>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
