<p-sidebar
  [(visible)]="isSidebarOpen"
  [position]="isMobile ? 'bottom' : 'left'"
  [modal]="isMobile"
  [closeOnEscape]="false"
  [showCloseIcon]="false"
  [blockScroll]="true"
  [ngClass]="{ 'h-full': !isMobile }"
>
  <ng-template pTemplate="header">
    <img
      *ngIf="!isMobile"
      src="/assets/banner.svg"
      alt="GoLembrar logo"
      width="200"
    />
  </ng-template>
  <ng-template pTemplate="content">
    <div
      id="action-buttons"
      class="flex mt-1 flex-wrap mx-auto gap-2 align-items-center justify-content-center"
    >
      @for(actionButton of actionButtons; track actionButton.label) {
      <p-button
        [label]="actionButton.label"
        [icon]="actionButton.icon"
        [outlined]="actionButton.outlined"
        [severity]="actionButton.severity"
        styleClass="w-10rem"
        (click)="onClickMenu()"
      ></p-button>
      }
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button
      *ngIf="!isMobile"
      label="Configurações"
      icon=" pi pi-cog"
      severity="secondary"
      [outlined]="true"
      styleClass="flex gap-2 no-underline w-full text-left"
    ></p-button>
  </ng-template>
</p-sidebar>
<div
  [ngClass]="{
  'space-left-content': isSidebarOpen,
  'space-bottom-content': isSidebarOpen && isMobile,
  }"
  class="p-2"
>
  <header class="flex justify-content-between align-items-center">
    @if(!isMobile){
    <p-button
      (click)="toggleSidebar()"
      icon="pi pi-bars"
    ></p-button>
    } @if(isMobile){
    <p-button
      (click)="toggleSidebar()"
      icon="pi pi-plus"
      label="GO"
      styleClass="absolute bottom-0 right-0 m-4"
    ></p-button>
    }
    <div class="profile cursor-pointer align-items-end">
      <p-menu
        #menu
        [model]="avatarMenu"
        [popup]="true"
      ></p-menu>
      <div
        class="flex align-items-center gap-2"
        (click)="menu.toggle($event)"
      >
        <h4 class="font-medium text-sm">Andrew D.</h4>
        <p-avatar
          icon="pi pi-user"
          styleClass="mr-2"
          shape="circle"
          size="large"
        ></p-avatar>
      </div>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>
