:host {
  .space-left-content {
    margin-left: 0;
  }

  .space-bottom-content {
    margin-bottom: 200px;
  }
}
@media (min-width: 768px) {
  :host {
    .space-left-content {
      margin-left: 400px;
    }
  }
}
