:host {
  .space-left-content {
    margin-left: 0;
  }
  header {
    max-width: 1500px;
    margin: auto;
  }
  main {
    max-width: 1200px;
    margin: auto;
  }

  p-sidebar {
    font-family: 'Poppins';

    span {
      div {
        span {
          color: var(--primary-color);
        }
      }
    }
  }
}
@media (min-width: 768px) {
  :host {
    .space-left-content {
      margin-left: 350px;
    }
  }
}
