<div class="container">
  <gl-title
    label1="Novo"
    label2="lembrete"
  />

  <gl-back-button />

  <form
    [formGroup]="newReminder"
    class="mt-5 formgrid grid gap-3"
    (ngSubmit)="onSubmit()"
  >
    <section class="flex align-items-center gap-5 w-full">
      <div class="col-12 lg:col px-0 flex flex-column gap-4">
        <fieldset class="field col-12 m-0 p-0">
          <legend>
            <label for="title"> Título </label>
          </legend>
          <input
            class="w-full mt-2"
            pInputText
            formControlName="title"
            placeholder="Digite o título da mensagem"
            id="title"
            [minlength]="2"
            [maxlength]="120"
          />
        </fieldset>

        <fieldset class="field col-12 m-0 p-0">
          <legend>
            <label for="description"> Mensagem </label>
          </legend>

          <textarea
            rows="6"
            class="w-full mt-2"
            pInputTextarea
            id="description"
            formControlName="description"
            [autoResize]="true"
            [minlength]="3"
            [maxlength]="500"
          ></textarea>
        </fieldset>

        <fieldset class="max-w-full field col-12 m-0 p-0">
          <legend>
            <label for="usersToReminder"> Destinatário </label>
          </legend>
          <p-multiSelect
            inputId="usersToReminder"
            optionLabel="name"
            placeholder="Selecione"
            formControlName="usersToReminder"
            [filter]="true"
            styleClass="flex mt-2"
            [showToggleAll]="false"
            emptyMessage="Nenhum contato cadastrado"
            emptyFilterMessage="Nenhum contato encontrado"
            [options]="contacts().data"
            optionValue="id"
            optionLabel="name"
          >
            <ng-template
              let-value
              pTemplate="selectedItems"
            >
              <span class="overflow-hidden">
                <div
                  class="inline-flex align-items-center gap-2 bg-blue-50 m-1 px-2 py-1 border-1 border-round-md border-blue-100"
                  *ngFor="let option of value"
                >
                  <span class="text-blue-900 font-medium text-sm">{{
                    option.name
                  }}</span>
                  <p-tag
                    severity="success"
                    [style]="{ backgroundColor: 'var(--secondary-color)' }"
                    value="Email"
                  />
                </div>
                <div *ngIf="!value || value.length === 0">Selecione</div>
              </span>
            </ng-template>
            <ng-template
              let-contact
              pTemplate="item"
            >
              <span class="flex align-items-center gap-2">
                <span>{{ contact.name }}</span>
                <p-tag
                  severity="success"
                  [style]="{ backgroundColor: 'var(--secondary-color)' }"
                  value="Email"
                />
              </span>
            </ng-template>
          </p-multiSelect>
        </fieldset>
      </div>
      <div class="col-12 lg:col px-0 flex flex-column gap-3 align-self-start">
        <fieldset class="field col-12 m-0 p-0">
          <legend>
            <label for="scheduled"> Agendamento </label>
          </legend>
          <p-calendar
            formControlName="scheduled"
            inputId="scheduled"
            [showIcon]="true"
            [showTime]="true"
            [minDate]="minDate"
            styleClass="flex mt-2"
            dateFormat="dd/mm/yy -"
            placeholder="Selecione uma data e hora"
          />
        </fieldset>
      </div>
    </section>

    <div
      class="card flex align-items-center justify-content-end col-12 gap-3 p-0 mt-4"
    >
      <p-button
        icon="pi pi-check"
        label="Salvar"
        type="submit"
        [disabled]="loading || newReminder.invalid"
        [loading]="loading"
        styleClass="px-5"
      ></p-button>
    </div>
  </form>
</div>
